HOST=127.0.0.1
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=root
DB_PASSWORD=root
DB_NAME=onyo

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=
REDIS_PWD=
REDIS_DB=0
REDIS_URL=redis://$REDIS_USER:$REDIS_PWD@$REDIS_HOST:$REDIS_PORT/$REDIS_DB

JWT_ISS=onyo-srv
JWT_AUD=onyo-react-web
JWT_ACCESS_TOKEN_SECRET="KtXXQlEIYD+hHiuu/z49z7K+hm+qTPXPa2qphqWkIRY="
JWT_ACCESS_TOKEN_AGE=600
JWT_REFRESH_TOKEN_SECRET="5vSej87Z4QXxaVSXHyCM32FXcAwhutwgokPNo0w4gzE="
